
#mxgit-marker-start
src/.svn
src/GPUCache
src/modeler-merge-marker
src/.mendix-cache
src/*.mpr.lock
src/*.mpr.bak
src/*.mpr.left*
src/*.mpr.right*
src/.settings
src/deployment
src/releases
proxies
target
*.launch
.classpath
.project
.vscode
#mxgit-marker-end

